registry=https://registry.npmjs.com
@smartplatform:registry=http://10.122.110.189:8081/repository/tdp-npm-group/
# //10.122.110.189:8081/repository/tdp-npm-group/:username=xxxxxx
# //10.122.110.189:8081/repository/tdp-npm-group/:password=xxxxxx
# //10.122.110.189:8081/repository/tdp-npm-group/:_authToken=xxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx
//10.122.110.189:8081/repository/tdp-npm-group/:_auth=dGRwOnRkcEBsZW5vdm8ubmV4dXM2NjY=
email="tdp-cli@lenovo.com"