registry=https://registry.npmjs.com
@smartplatform:registry=http://10.122.110.189:8081/repository/tdp-npm-group/
//10.122.110.189:8081/repository/tdp-npm-group/:username=tdp
//10.122.110.189:8081/repository/tdp-npm-group/:password=tdp@lenovo.nexus666
email="tdp-cli@lenovo.com"